.RankingTable th {
    max-width: 80px;
    background-color: #cccccc;
}

table.RankingTable {
    border-collapse: collapse;
}

.cell.percentage span {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.mainPanel .row .cell {
    border: 1px solid #888;
    padding: 2px 4px;
}

.mainPanel .row .cell.number {
    text-align: right;
}

