
.RegionSelectionMain {
    display:grid;
}

.RegionSelection {
    overflow: auto;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.RegionSelection div.footer {
    clear:both;
}
.RegionSelection .SvgMap .region.hover {
    fill: #e0ca8e;
}
.RegionSelection .SvgMap path.selected {
    fill: #008e00;
}

.RegionSelection .SvgMap path.region.selected.hover {
    fill: #67e567;
}
