
.map {
    height: auto;
    stroke: #000;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.map .region {
    fill:  #a49875;
    stroke-width: 0.5;
}

.map .region.hover {
    cursor: pointer;
    fill: #a78d41;
}
.map path.selected {
    fill: #008e00;
}

.map path.selected:hover {
    fill: #67e567;
}