.GrowthRanking {
}

.GrowthRanking .row {
}

.GrowthRanking table {
    border-collapse: collapse;
}

.cell.percentage {
}
.cell.percentage .infinity{
    display: inline-block;
    font-size:24px;
    text-align: center;
    width: 100%;
}
.cell.value {
}
.GrowthRanking .row .cell {
    border: 1px solid #888;
    padding: 2px 4px;
}
.GrowthRanking .row .cell.number {
    text-align: right;
}

.highGrowth {
    background-color: #d92323;
    color: white;
}
.lowGrowth {
    background-color: lightcoral;
    color: black;
}
.stable {
    background-color: #eee958;
    color: black;
}
.lowShrink {
    background-color: lightgreen;
    color: black;
}
.highShrink {
    background-color: green;
    color: white;
}
