.GrowthRanking {
    display: flex;
    justify-content: space-around;
}
.GrowthRanking .table {
    flex-grow: 1;
    margin: 0 20px;
}
.GrowthRanking .map {
    flex-grow: 2;
    height: 100%;
    max-height: 100%;
    flex-basis: 50%;
}

.GrowthRanking .row {
}

.GrowthRanking table {
    border-collapse: collapse;
}

.cell.percentage span {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.cell.value {
}
.GrowthRanking .row .cell {
    border: 1px solid #888;
    padding: 2px 4px;
}
.GrowthRanking .row .cell.number {
    text-align: right;
}

.highGrowth, div .SvgMap .highGrowth {
    background-color: #d92323;
    color: white;
    fill: #d92323;
}

.lowGrowth, div .SvgMap .lowGrowth {
    background-color: #F08080;
    fill: #F08080;
    color: black;
}
.stable, div .SvgMap .stable {
    background-color: #eee958;
    fill: #eee958;
    color: black;
}
.lowShrink, div .SvgMap .lowShrink {
    background-color: #90EE90;
    fill: #90EE90;
    color: black;
}
.highShrink, div .SvgMap .highShrink {
    background-color: #008000;
    fill: #008000;
    color: white;
}
.barren, div .SvgMap .barren {
    background-color: #888888;
    fill: #eee958;
    color:white;
}
