
.QuickPickBar {
    margin-top: 8px;
    max-width: 100vw;
    width: 100%;
}
.QuickPickBar .main {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.QuickPickBar .main .actions {
    margin-top: 4px;
    flex-grow: 0;
}
.QuickPickBar .main .buttonSet {
    flex-grow: 1;
    line-height: 2.4em;
}

.QuickPickBar .form {
    margin-top: 4px;
}

.QuickPickBar .form #quickPickName {
    margin: 4px;
}
.QuickPickBar .actionSeparator {
    color: #ccc;
}

.QuickPickButton {
    background-color: #335fa6;
    margin: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
}

.QuickPickButton .actionSeparator {
    margin: 0 6px;
    cursor: default;
    color: #ccc;
}

.QuickPickButton .deleteAction {
    vertical-align: middle;
    width: 7px;
    cursor: pointer;
}

.quickPick {
    cursor: pointer;
}