
div.ColumnarMatrix {
    font-size: 12px;
    line-height: 13px;
}
div.ColumnarMatrix.Table {
    display: table;
    margin: 2px;

}

div.ColumnarMatrix.Table .Row {
    display: table-row;
}

div.ColumnarMatrix.Table .Row .Region {
    display: table-cell;
    cursor: pointer;
}


